* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Source Code Pro', sans-serif;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

.container, .menu, .loading, .timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading, .timer, .objects {
  background: #454545;
  color: #f2f2f2;
}

.menu, .loading {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.menu {
  justify-content: center;
  backdrop-filter: blur(20px);
}

.menu > button {
  margin: 10px;
  width: 20vw;
}

.menu-title, .menu-info {
  margin: 10px;
  color: #f2f2f2;
}

.menu-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.timer, .objects {
  position: absolute;
  justify-content: center;
  top: 0;
  height: 3rem;
}
.timer {
  right: 0;
  width: 7rem;
  font-size: 2rem;
  font-weight: bold;
}

.objects {
  display: flex;
  left: 0;
  width: 20rem;
}

.object, .object-located {
  margin: 0 5px 0 5px;
  border: 1px solid black;
  width: 3rem;
  height: 3rem;
}

.object-located {
  background: #242424;
}
